IO_LOC  "rs2_3" 73;
IO_PORT "rs2_3" IO_TYPE=LVCMOS33;

IO_LOC  "rs2_2" 72;
IO_PORT "rs2_2" IO_TYPE=LVCMOS33;

IO_LOC  "rs2_1" 71;
IO_PORT "rs2_1" IO_TYPE=LVCMOS33;

IO_LOC  "rs2_0" 70;
IO_PORT "rs2_0" IO_TYPE=LVCMOS33;

IO_LOC  "rs1_3" 48;
IO_PORT "rs1_3" IO_TYPE=LVCMOS33;

IO_LOC  "rs1_2" 49;
IO_PORT "rs1_2" IO_TYPE=LVCMOS33;

IO_LOC  "rs1_1" 31;
IO_PORT "rs1_1" IO_TYPE=LVCMOS33;

IO_LOC  "rs1_0" 32;
IO_PORT "rs1_0" IO_TYPE=LVCMOS33;

IO_LOC  "ALU_data3" 68;
IO_PORT "ALU_data3" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "ALU_data2" 57;
IO_PORT "ALU_data2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "ALU_data1" 56;
IO_PORT "ALU_data1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "ALU_data0" 55;
IO_PORT "ALU_data0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Read_register1" 37;
IO_PORT "Read_register1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Read_register0" 36;
IO_PORT "Read_register0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Write_register1" 29;
IO_PORT "Write_register1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Write_register0" 28;
IO_PORT "Write_register0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "RegWrite" 34;
IO_PORT "RegWrite" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "clk" 41;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
